{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/edit.css">
<br>
<center><h1 style="color: #d49e09;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;">Editar Datos</h1></center>

{% for formulario in formulario %}
  
        <center>
            <FORM method="POST" action="/update" enctype="multipart/form-data">  
                <CENTER>
                    <TABLE class="table table-info" BORDER>    
                        <thead class="table-dark">
                        <center>
                        <TR>
                            <TD class="blanco"><h5>QUE OPINA SOBRE EL COVID-19</h5></TD>
                            <TD class="blanco"><h5>AQUI SUS RESPUESTAS.</h5></TD>
                        <TR/>
                    </thead> 
                            <TR>
                                <TD class="negro table-dark" >Cedula:</TD>
                                <TD class="negro table-secondary"> <INPUT TYPE="number" MIN="1000000000" MAX="10000000000"  value="{{formulario[0]}}" required class="form-control"   name="txtCedula" id="txtCedula" readonly=»readonly» placeholder="Escriba su Cedula" SIZE=18
                                        MAXLENGTH=18 >
                                </TD>
                            <TR>
                            <TR>
                                <TD class="negro table-dark">Nombre:</TD>
                                <TD class="negro table-secondary"> <INPUT TYPE="text" class="form-control" value="{{formulario[1]}}" required name="txtNombre" id="txtNombre" placeholder="Escriba sus Nombres" SIZE=18
                                        MAXLENGTH=18>
                                </TD>
                            <TR>
                            <TR>
                                <TD class="negro table-dark">Apellidos:</TD>
                                <TD class="negro table-secondary"> <INPUT TYPE="text" class="form-control" value="{{formulario[2]}}" required name="txtApellido" id="txtApellido" placeholder="Escriba sus Apellidos" SIZE=48
                                        MAXLENGTH=48 ></TD>
                            <TR>
                            <TR>
                                <TD class="negro table-dark">Edad:</TD>
                                <TD class="negro table-secondary"> <INPUT TYPE="number" MIN="1" MAX="120" class="form-control" value="{{formulario[3]}}" required name="txtEdad" id="txtEdad" placeholder="Escriba su Edad" SIZE=48 MAXLENGTH=48 >
                                </TD>
                            <TR>
                            <TR>
                                <TD class="negro table-dark">Telefono:</TD>
                                <TD class="negro table-secondary"><INPUT TYPE="number" MIN="0900000000" MAX="09000000000" class="form-control" value="{{formulario[4]}}" required name="txtTelefono" placeholder="Escriba su Numero de Celular" id="txtTelefono" SIZE=19
                                        MAXLENGTH=19 ></TD>
        
                            <TR>
                                <TD class="negro table-dark">Correo:</TD>
                                <TD class="negro table-secondary"> <INPUT TYPE="email" class="form-control" value="{{formulario[5]}}" required name="txtCorreo" id="txtCorreo" placeholder="Escriba su Correo" SIZE=20
                                        MAXLENGTH=20>
                                </TD>
                            <TR>
        
        
                            <TR>
                                <TD class="negro table-dark">Cual es su opinion sobre el covid-19:</TD>
                                        <TD class="negro table-secondary"> <INPUT TYPE="text" style="WIDTH: 950px; HEIGHT: 72px" size=12 value="{{formulario[6]}}" required class="form-control"   name="txtPregunta1" id="txtPregunta1"
                                                placeholder="Escriba su opinion en este espacio." ROWS=2 COLS=47>
                                        </TD>
                            <TR>

                                
                                    <TR>
                                        <TD class="negro table-dark">Cual es su opinion sobre la cuarente:</TD>
                                                <TD class="negro table-secondary"> <INPUT TYPE="text" style="WIDTH: 950px; HEIGHT: 72px" size=12 value="{{formulario[7]}}" required class="form-control"   name="txtPregunta2" id="txtPregunta2"
                                                        placeholder="Escriba su opinion en este espacio." ROWS=2 COLS=47 >
                                                </TD>
                                    <TR>
                                    
                                        <TR>
                                            <TD class="negro table-dark">Que metodos de proteccion ante el covid-19 conoce:</TD>
                                                    <TD class="negro table-secondary"> <INPUT TYPE="text" style="WIDTH: 950px; HEIGHT: 72px" size=1 value="{{formulario[8]}}" required class="form-control"   name="txtPregunta3" id="txtPregunta3"
                                                            placeholder="Escriba su opinion en este espacio." ROWS=2 COLS=47>
                                                    </TD>  
                                        <TR>   
                                            
                                            
                                <!-- <TR>
                                    <TD>Cedula:</TD>
                                    <TD> <INPUT TYPE="text" value="{{formulario[6]}}" class="form-control"   name="txtPregunta1" id="txtPregunta1" SIZE=18
                                            MAXLENGTH=18>
                                    </TD>
                                <TR> -->
        
                            <!-- <TR>
                                <TD>Cual es su opinion sobre la cuarente:</TD>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <TD> <textarea class="form-control" value="{{formulario[7]}}"  name="txtPregunta2" id="txtPregunta2"
                                                placeholder="Escriba su opinion en este espacio." ROWS=2 COLS=47></textarea>
                                        </TD>
                                    </div>
                                </div>
                            <TR>
        
                            <TR>
                                <TD>Que metodos de proteccion ante el covid-19 conoce:</TD>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <TD> <textarea class="form-control" value="{{formulario[8]}}"  name="txtPregunta3" id="txtPregunta3"
                                                placeholder="Escriba su opinion en este espacio." ROWS=2 COLS=47></textarea>
                                        </TD>
                                    </div>
                                </div> -->
                            <TR>
                                <TD class="negro table-dark"><B>Pulse aquí:</B></TD>
                                <TD class="negro table-secondary" ALIGN=CENTER>
                                    <INPUT TYPE="submit" class="btn btn-success" VALUE="Actualizar">
                                    <INPUT TYPE="reset" class="btn btn-warning" VALUE="Borrar datos de los campos">
                                    <a class="btn btn-danger" href="/destroy/{{formulario[0]}}">Eliminar</a>
                                </TD>
                            </TR>
                            </center>
                    </TABLE>
                </CENTER>
            </FORM>
        </center>
{%endfor%}



{% endblock %}